body {
	background-image:url('Resources/background.jpg');
	background-repeat: repeat;
	font-family: Helvetica;
	margin: 0;
	padding: 0em;
	width: 100%;
	height: 100%;
}

#options {
	vertical-align: center;
	text-align: left;
	background-color: white;
	border-bottom-width: 2px;
	border-bottom-color: black;
	border-bottom-style: solid;
	margin: 0em;
	padding: 0em;
	height: 2.5em;
	width: 100%; 
}

#start {
	font-weight: bold;
}

#uploadFile {
	height: 0px;
	width: 0px;
	overflow: hidden;
}

button {
	display: inline;
	float: right;
	margin-top: .8em;
	margin-right: 1em;
	height: 1.2em;
	padding: 1em;
	padding-top: .5em;
	padding-bottom: 1.5em;
	vertical-align: center;
}

h1 {
	display: inline-block;
	margin: 0;
	font-weight: bold;
	padding-top: .25em;
	padding-left: .5em;
	font-size: 1.5em;
}